/*
* Center Images with absolute positioning
*/
.bir-cta-block .cta-block-link {
  display: block;
  transition: filter 0.3s, transform 0.3s;
  transform: translateY(0) translateZ(0) scale(1, 1);
  backface-visibility: hidden;
}
.bir-cta-block .cta-block-link:hover {
  filter: drop-shadow(0px 16px 24px rgba(21, 47, 78, 0.16));
  transform: translateY(-3px) translateZ(0) scale(1, 1);
}
.bir-cta-block .cta-block-link:hover .cta-block-title {
  text-decoration: underline;
}
.bir-cta-block .cta-block-image {
  position: relative;
  aspect-ratio: 6/4;
}
.bir-cta-block .cta-block-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bir-cta-block .cta-block-content {
  padding: 25px;
  background: #152f4e;
  height: 6rem;
}
.bir-cta-block .cta-block-title {
  font-size: clamp(1.5rem, 2vw, 1.6rem);
  color: #fff;
  font-weight: 400;
}

.w-slider.our-actions {
  filter: drop-shadow(0px 16px 24px rgba(21, 47, 78, 0.16));
}
.w-slider.our-actions .royalSlider .rsArrow {
  background: rgba(21, 47, 78, 0.8);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}
.w-slider.our-actions .rsContent,
.w-slider.our-actions .rsOverflow,
.w-slider.our-actions .royalSlider {
  height: clamp(400px, 50vw, 500px) !important;
}
.w-slider.our-actions img.rsImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  margin: 0 !important;
}
.w-slider.our-actions .w-slider-item-title {
  display: none;
}
.w-slider.our-actions .w-slider-item-description {
  padding: 0;
  margin: 0;
  color: #1a1a1a;
  opacity: 1;
  line-height: 1.4;
  font-weight: 700;
  font-size: clamp(1rem, 2vw, 1.4rem);
}
.w-slider.our-actions .rsABlock {
  background: #fff;
  padding: 30px;
}

.h4-cta-links h4 {
  margin-bottom: 1rem;
}
.h4-cta-links h4 a {
  position: relative;
  background: #fff;
  display: inline-block;
  color: #152f4e;
  font-size: 18px;
  padding: 20px;
  padding-left: 35px;
  filter: drop-shadow(0px 16px 24px rgba(21, 47, 78, 0.16));
  transition: all 0.3s;
  transform: translateY(0) translateZ(0) scale(1, 1);
  border-bottom: 2px solid transparent;
}
.h4-cta-links h4 a:hover {
  color: #152f4e;
  border-bottom: 2px solid #007eb3 !important;
  transform: translateY(-3px) translateZ(0) scale(1, 1);
}
.h4-cta-links h4 a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent !important;
  border-bottom: 5px solid transparent !important;
  border-left: 5px solid #152f4e !important;
  transform: translateY(-50%);
  border-radius: 10px;
}
