<nav class="doc-navbar">
    <div class="container nav-wrapper">

        <div class="brand">
            <a routerLink="/">Wenlu Wang</a>
        </div>

        <ul class="menu">
            <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
            <li><a routerLink="/lab" routerLinkActive="active">Lab</a></li>
            <li><a routerLink="/publication" routerLinkActive="active">Publication</a></li>
            <li><a routerLink="/research" routerLinkActive="active">Research</a></li>
            <li><a routerLink="/recruiting" routerLinkActive="active">Recruiting</a></li>
            <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
            <li><a routerLink="/grants" routerLinkActive="active">Grants</a></li>
        </ul>

    </div>
</nav>